.usersContainer {
    max-width: 150rem;
    margin: 0 auto;
    text-align: center;
}
.usersPanel {
    margin: 2rem 0;
}
.usersGetBox, .usersSetBox {
    padding: 2rem 0;
}
.usersBox {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}