.userCell {
    min-width: 20rem;
    max-width: 60rem;
    margin: 1rem;
    text-align: center;
}
.userCell > div {
    display: block;
    padding: 1rem;
}

.userPic {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}
