html {
  font-size: 8px;
  line-height: 1;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}
.main-wrapper {
  text-align: center;
}
.main-wrapper > h2 {
  color: rgb(101 119 144);
}